export(aggregate_SNPs)
export(cor_plot)
export(level_function)
export(pca_function)
export(postGWAS)
export(preprocess_SNPs)
export(preselection)
export(resids_diag)
export(standardize)
importFrom(Rcpp, evalCpp)
useDynLib(GWAS.BAYES, .registration = TRUE)
